version: "3.8"

services:
  frontend:
    build: .
    container_name: frontend_app 
    ports:
      - "5173:5173" 
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
    networks:
      - estadia_ja_network

networks:
  estadia_ja_network:
    external: true
